body {
	background-color: black;
}

.header {
	background-color: black;
}

.header h1 {
	color: gray;
	font-family: Verdana, serif;
	font-size: 5em;
	text-align: center;
	padding: 0.5em;
}

.header p {
	color: gray;
	font-family: Verdana, serif;
	font-size: 1em;
	text-align: center;
	padding: 1em;
}

.game, .counter, .last-bit {
	background-color: gray;
	padding: 1em;
}

.game ul, .last-bit ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.game li, .last-bit li {
	display: inline-block;
	float: center;
	background-color: #dddddd;
	padding: 0.5em;
	color: black;
	font-family: Verdana, serif;
	font-size: 1em;
	text-align: center;
}

.hand {
	min-height: 50%;
	position: relative;
	background-repeat: no-repeat;
	text-align: center;
}

.hand img {
    width: 50%%;
    max-height: 50%;
    height: auto;
    -webkit-animation: myAnim 0.7s 3; 
    -moz-animation: myAnime 0.7s 3;
}

@-webkit-keyframes myAnim
{
  from {-webkit-transform: rotate(0deg) }
  50% {/* possible intermediate positions at any %
  */}
  to {-webkit-transform: rotate(30deg) }
}

@-moz-keyframes myAnime
{
  from {transform: rotate(0deg) }
  50% {/* possible intermediate positions at any %
  */}
  to {transform: rotate(30deg) }
}



.hidden {
	display: none;
}

.results {
	background-color: black;
	margin: 0;
	padding: auto;
	position: relative;
}


/* Animate removed here */

.counter p, .last-bit p {
	color: black;
	font-family: Verdana, serif;
	font-size: 1em;
	text-align: center;
}

.finale {
	background-color: black;
	width: 100%;
}

.finale h2 {
	font-family: Verdana, sans-serif;
	font-size: 1.3em;
	color: black;
	font-weight: bolder;
}







.last-bit p {
	padding-bottom: 0px;
}

.last-bit a {
	text-decoration: none;
	color: black;
}

.footer {
	background-color: black;
	padding: 1em;
}

.footer p {
	color: gray;
	font-family: Verdana, serif;
	font-size: 1em;
	text-align: center;
	padding: 1em;
}

.finale-container {
  display: flex;
  flex-wrap: wrap;
  background: #ececec;
  padding: 1em;
}

.topleft, .topmid, .topright, .midleft, .midmid, .midright, .midbottom {
  order: 10;
}

@media screen and (max-width: 479px) {
  .topleft {
    order: 1;
    width: 100%;
  }

  .user-choice, .comp-choice {
  	float: none;
  }

  .topleft h2, .topright h2 {
  	text-align: center;
  }

  .topmid {
    display: none;
  }
  .topright {
    order: 3;
    width: 100%;
  }

  .midleft {
    order: 2;
    width: 100%;
  }

.finale img {
	height: 100%;
	width: 50%;
}
.midleft, .midright {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	position: relative;
}
.rps-pic, .rps-pic2 {
	float: none;
}

  .midmid {
    order: 5;
    width: 50%;
  }

  .midmid p {
  	line-height: 100px;
  	text-align: center;
  	color: black;
  	font-weight: bold;
  }

  .midright {
    order: 4;
    width: 100%;
  }

  .midbottom {
    order: 6;
    width: 50%;
  }

  .midbottom ul {
  	margin-left: -40px;
  }

  .midbottom li {
  	list-style-type: none;
  	text-align: center;
  }

  .midbottom a {
  	text-decoration: none;
  	color: black;
  	text-align: center;
  	border: solid black 1px;
  	padding: 5px;
  	line-height: 100px;
  }
}

@media screen and (min-width: 480px) {
  .topleft {
    order: 1;
    width: 40%;

  }
  .topmid {
    order: 2;
    width: 20%;
  }
  .topright {
    order: 3;
    width: 40%;
  }
.user-choice {
	float: left;
}

.comp-choice {
	float: right;
}

.finale img {
	height: 100%;
	width: 100%;
}

/*Comp choice*/
.rps-pic2 {
	float: right;
}

/*User choice*/
.rps-pic {
	float: left;
}

  .midleft {
    order: 4;
    width: 33%;
  }

  .midmid {
    order: 5;
    width: 34%;
  }

  .midmid p {
  	line-height: 200px;
  	text-align: center;
  	color: black;
  	font-weight: bold;
  }

  .midright {
    order: 6;
    width: 33%;
  }

  .midbottom {
    order: 7;
    width: 100%;
  }

  .midbottom ul {
  	margin-left: -40px;
  }

  .midbottom li {
  	list-style-type: none;
  	text-align: center;
  }

  .midbottom a {
  	text-decoration: none;
  	color: black;
  	text-align: center;
  	border: solid black 1px;
  	padding: 5px;
  }
}

@media screen and (min-width: 820px) {
  .finale-container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}