body {
	background-color: black;
}

.header {
	background-color: black;
}

.header h1 {
	color: gray;
	font-family: 'PT Sans', sans-serif;
	font-size: 5em;
	text-align: center;
	padding: 0.5em;
}

.header p {
	color: gray;
	font-family: 'Josefin Sans', serif;
	font-size: 1em;
	text-align: center;
	padding: 1em;
}

.game, .counter, .last-bit {
	background-color: gray;
	padding: 1em;
	margin: -1px;
}

.game ul, .last-bit ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.game li, .last-bit li {
	display: inline-block;
	float: center;
	border: solid black 1px;
	border-radius: 5px;
	padding: 0.5em;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	text-align: center;
}

.game li:hover, .last-bit li:hover {
	background-color: white;
}

.hand {
	min-height: 50%;
	position: relative;
	background-repeat: no-repeat;
	text-align: center;
}



@keyframes myAnim
{
  from {-webkit-transform: rotate(0deg) }
  50% {/* possible intermediate positions at any %
  */}
  to {-webkit-transform: rotate(30deg) }
}

@-webkit-keyframes myAnim
{
  from {-webkit-transform: rotate(0deg) }
  50% {/* possible intermediate positions at any %
  */}
  to {-webkit-transform: rotate(30deg) }
}

@-moz-keyframes myAnim
{
  from {transform: rotate(0deg) }
  50% {/* possible intermediate positions at any %
  */}
  to {transform: rotate(30deg) }
}



.hidden {
	display: none;
}

.results {
	background-color: black;
	margin: 0;
	padding: auto;
	position: relative;
}


/* Animate removed here */

.counter p, .last-bit p {
	color: black;
	font-family: 'Josefin Sans', serif;
	font-size: 1em;
	text-align: center;
}

.finale {
	background-color: black;
	width: 100%;
}

.finale h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.3em;
	color: black;
	font-weight: bolder;
}







.last-bit p {
	padding-bottom: 0px;
	font-family: 'Josefin Sans', sans-serif;
}

.last-bit a {
	text-decoration: none;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
}

.footer {
	background-color: black;
	padding: 1em;
}

.footer p {
	color: gray;
	font-family: 'Josefin Sans', serif;
	font-size: 1em;
	text-align: center;
	padding: 1em;
}

.finale-container {
  display: flex;
  flex-wrap: wrap;
  background: #ececec;
  padding: 1em;
}

.topleft, .topmid, .topright, .midleft, .midmid, .midright, .midbottom {
  order: 10;
}

@media screen and (max-width: 459px) {
	.last-bit li {
		font-size: 0.75em;
	}
  .topleft {
    order: 1;
    width: 100%;
  }

  .user-choice, .comp-choice {
  	float: none;
  }

  .topleft h2, .topright h2 {
  	text-align: center;
  }

  .topmid {
    display: none;
  }
  .topright {
    order: 3;
    width: 100%;
  }

  .midleft {
    order: 2;
    width: 100%;
  }

.finale img {
	max-height: 75%;
	max-width: 75%;
}
.midleft, .midright {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	position: relative;
}
.rps-pic, .rps-pic2 {
	float: none;
}

  .midmid {
    order: 5;
    width: 50%;
  }

  .midmid p {
  	line-height: 100px;
  	text-align: center;
  	color: black;
  	font-weight: bold;
  	font-family: 'Josefin Sans', sans-serif;
  }

  .midright {
    order: 4;
    width: 100%;
  }

  .midbottom {
    order: 6;
    width: 50%;
  }

  .midbottom ul {
  	margin-left: -40px;
  }

  .midbottom li {
  	list-style-type: none;
  	text-align: center;
  }

  .midbottom a {
  	text-decoration: none;
  	color: black;
  	text-align: center;
  	border: solid black 1px;
  	border-radius: 5px;
  	padding: 5px;
  	line-height: 100px;
  	font-family: 'Josefin Sans', sans-serif;
  }

  .midbottom a:hover {
  	background-color: white;
  }

  .hand img {
    width: 50%;
    max-height: 50%;
    height: auto;
    -webkit-animation-name: myAnim;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count: 3;
    animation: myAnim 0.7s 3; 
    -moz-animation: myAnim 0.7s 3;
}
}

@media screen and (min-width: 460px) {
 .game li {
 	font-size: 2em;
 }


  .topleft {
    order: 1;
    width: 40%;

  }
  .topmid {
    order: 2;
    width: 20%;
  }
  .topright {
    order: 3;
    width: 40%;
  }
.user-choice {
	float: left;
}

.comp-choice {
	float: right;
}

.finale img {
	max-height: 50%;
	max-width: 100%;
}

/*Comp choice*/
.rps-pic2 {
	float: right;
}

/*User choice*/
.rps-pic {
	float: left;
}

  .midleft {
    order: 4;
    width: 33%;
  }

  .midmid {
    order: 5;
    width: 34%;
  }

  .midmid p {
  	line-height: 200px;
  	text-align: center;
  	color: black;
  	font-weight: bold;
  	font-family: 'Josefin Sans', sans-serif;
  }

  .midright {
    order: 6;
    width: 33%;
  }

  .midbottom {
    order: 7;
    width: 100%;
  }

  .midbottom ul {
  	margin-left: -40px;
  }

  .midbottom li {
  	list-style-type: none;
  	text-align: center;
  }

  .midbottom a {
  	text-decoration: none;
  	color: black;
  	text-align: center;
  	border: solid black 1px;
  	border-radius: 5px;
  	padding: 5px;
  	font-family: 'Josefin Sans', sans-serif;
  	font-size: 1.5em;
  }
  .midmid p {
  	font-size: 1.5em;
  }
    .midbottom a:hover {
  	background-color: white;
  }
  .hand img {
    width: 50%;
    max-height: 50%;
    height: auto;
    -webkit-animation-name: myAnim;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count: 3;
    animation: myAnim 0.7s 3; 
    -moz-animation: myAnim 0.7s 3;
}
}

@media screen and (min-width: 820px) {
  .game li {
  	font-size: 3em;
  }
  .last-bit li {
  	font-size: 1.5em;
  }
  .finale-container, .game, .counter, .last-bit {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .midmid p {
  	font-size: 2em;
  }
  .midbottom a {
  	font-size: 2em;
  }
}